<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Jekyll</string>
	<key>uuid</key>
	<string>185FFA18-4383-416A-B01E-9FF92C854861</string>
</dict>
</plist>
